# -------------------------------
# Python
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.pkl

# -------------------------------
# Virtual Environment
# -------------------------------
venv/
.env/
env/

# -------------------------------
# Jupyter Notebook
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# Airflow
# -------------------------------
airflow/logs/
airflow/*.db
airflow/airflow.cfg

# -------------------------------
# Data Files (VERY IMPORTANT)
# -------------------------------
!data/raw/.gitkeep
!data/processed/.gitkeep


# -------------------------------
# Secrets & Keys (CRITICAL )
# -------------------------------
*.pem
*.key
.env
.aws/
credentials

# -------------------------------
# AWS / Config
# -------------------------------
*.log
*.tmp

# -------------------------------
# Logs
# -------------------------------
*.log

# -------------------------------
# Build / Cache
# -------------------------------
.cache/
dist/
build/